<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title> Virttool </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" id="login" href="/static/css/login.css" type="text/css" media="all">
</head>

<body class="login">

	<div id="login">
		<h1> Virttool </h1> 
		<br/>
		<h4 style="font-size: 16px; color: red;"> 
        
        <div id="aviso"> 
            {% if form.errors %}
           <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </div>  </h4> <br/>

	     <form id="formulario" method="post" action="{% url django.contrib.auth.views.login %}">
          {% csrf_token %}
			<p>
                {{ form.username.label_tag }} <br/>
                {{ form.username }}
			</p>
			<p>
			
            {{ form.password.label_tag }} <br/>
            {{ form.password }}
            </p>

			<p class="submit">
				<input value="OK" tabindex="100" type="submit">
			</p>
		</form>

		<p id="nav">
			 &copy; 
			 <script>
	 
			  var data = new Date();
			  document.write(data.getFullYear());
	 
			 </script>
			  - VirtTool
		</p>

	</div>

<p id="backtoblog"><a style="font-weight: bold; " href="#" title="About"> About </a></p>

</body>
</html>

